{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner %}
    <h1 class="text-center">{% trans "Sign Out" %}</h1>

    <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="btn-group.btn-group-justified.btn-group-raised">
        <a href="{% url 'home' %}" class="btn btn-raised btn-link pull-left">
          {% trans "Back" %}
          </a>
        <button class="btn btn-raised btn-primary pull-right" type="submit">
          {% trans 'Sign Out' %}
        </button>
      </div>
    </form>

{% endblock %}

