{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}

    <h1 class="text-center">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="btn-group.btn-group-justified.btn-group-raised">
        <a href="{% url 'home' %}" class="btn btn-raised btn-link pull-left">
          {% trans "Back" %}
        </a>
        <button class="btn btn-raised btn-primary pull-right" type="submit">
          {% trans 'Set Password' %}
        </button>
      </div>
    </form>
{% endblock %}

