{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

  <h1 class="text-center">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h1>

  {% if token_fail %}

    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>

  {% else %}

    {% if form %}
      <form method="POST" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-group.btn-group-justified.btn-group-raised">
          <a href="{% url 'home' %}" class="btn btn-raised btn-link pull-left">
            {% trans "Back" %}
          </a>
          <button class="btn btn-raised btn-primary pull-right" type="submit" name="action">
            {% trans 'change password' %}
          </button>
        </div>
      </form>
    {% else %}
      <p class="text-center">
        {% trans 'Your password is now changed.' %}
      </p>
    {% endif %}

  {% endif %}
{% endblock %}

