{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}Users{% endblock title %}

{% block page_header_title %}
  <a href="{% url 'users:list' %}">{% trans "Users" %}</a>:
{% endblock page_header_title %}

{% block inner %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Username" %}</th>
          <th>{% trans "Email" %}</th>
          <th>{% trans "Is Active?" %}</th>
          <th>{% trans "is Staff?" %}</th>
          <th>{% trans "Is Superuser?" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
          <tr>
            <td>
              <a href="{% url 'users:detail' user.username %}">{{ user.username }}</a>
            </td>
            <td>
              {% if user.email %}{{ user.email }}{% else %}--{% endif %}
            </td>
            <td>
              {% if user.is_active %}
                <i class="material-icons">check_circle</i>
              {% else %}
                <i class="material-icons">highlight_off</i>
              {% endif %}
            </td>
            <td>
              {% if user.is_staff %}
                <i class="material-icons">check_circle</i>
              {% else %}
                <i class="material-icons">highlight_off</i>
              {% endif %}
            </td>
            <td>
              {% if user.is_superuser %}
                <i class="material-icons">check_circle</i>
              {% else %}
                <i class="material-icons">highlight_off</i>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock inner %}
