{% extends "users/base.html" %}
{% load static i18n %}

{% block title %}{% trans "User" %}: {{ object.username }}{% endblock %}
{% block page_header_title %}
  {% trans "User" %}: <strong>{{ object.username }}</strong>
{% endblock page_header_title %}

{% block inner %}
  {% if object.name %}
    <h4>Name: {{ object.name }}</h4>
  {% else %}
    <h4>Username: {{ object.username }}</h4>
  {% endif %}

  {% if object == request.user %}
    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">
        {% trans "Update" %}
      </a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">
        {% trans "E-Mail" %}
      </a>
    </div>
  {% endif %}

{% endblock %}
